@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans cursor-default antialiased transition-all;
}

svg {
  @apply transition-none;
}

button {
  @apply cursor-default;
}

html {
  @apply select-none selection:bg-yellow-400 selection:text-black;
}


body {
  color: #ededed;
  background: #0a0a0a;
  font-synthesis: none;
}

.inline-icon {
  @apply -mt-0.5 mr-2.5 inline-block size-4;
}